/* src/homepage.css */
body{
  width: 100%;
}
.container {
  /* margin: 0; */
  /* padding: 0; */
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
  background-color: #f8a488;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.header-profile{
  width: 100%;
  display: flex;
}
.header {
  /* display: flex; */
  height: 100%;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
}
.name-section{
  
  margin-top: 0%;
  margin-left: 30%;
  width: fit-content;
}

.contents{
  /* margin-left: 20%; */
  margin-top: 10%;
  margin-right: 10%;
  width: fit-content;
}
.profile {
  
  width: fit-content;
  margin-top: 10%;
  margin-left: 15%;
}

.profile-image {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
  /* margin-bottom: 20px; */
  margin-top: 10%;
  margin-left: 15%;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info div {
  margin-bottom: 20px;
}

.footer {
  background-color: #ff7043; /* Different background color for footer */
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.contact-info {
  margin: 10px 20px;
}

.contact-info p {
  margin: 5px 0;
}

.contact-info a {
  color: white;
  text-decoration: none;
}

.contact-info a:hover {
  text-decoration: underline;
}
h2{
  font-family: 'Arial', sans-serif;
    font-size: 16px;
}
h3{
  margin-left: 2%;
  font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #333;
}
.projects{
  background-color: beige;
  width: 100%;
  /* display: flex; */
}
